# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/

# Data
data/strokes/
data/user_strokes/
data/models/

# G-code
*.gcode

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo
